* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #222222;
  height: 2000px;
}
.top {
  background-color: #313131;
  width: 100%;
  height: 35vh;
}
.topLogo {
  margin-left: 37%;
  width: 25vw;
  height: 40vh;
  background-image: url("yonw4por-removebg-preview.png");
  background-size: cover;
}
.header {
  height: 18vh;
  background-color: rgb(38, 38, 38);
  position: sticky;
  top: 0;
  z-index: +10;
}
.logo {
  margin-left: 2%;
  width: 8%;
  height: 90%;
  background-image: url("wotBlitz-logo.png");
  background-size: cover;
}
.links {
  width: 100%;
  text-align: right;
  margin-right: 4%;
  margin-top: -8vh;
}
a {
  text-decoration: none;
  color: azure;
  margin: 3%;
}
p {
  color: rgba(255, 200, 0, 0.909);
  font-size: 20px;
  margin-left: 5%;
  margin-top: -8%;
}
h1 {
  color: azure;
  font-size: 20px;
  margin-left: 5%;
  margin-top: 25%;
}
h2 {
  color: rgba(240, 255, 255, 0);
  font-size: 14px;
  margin-left: 5%;
  margin-top: -7%;
}
/**************** For The Operation ****************/

.mainFTO {
  display: flex;
  flex-wrap: wrap;
  color: azure;
}
.mainFTO > div {
  background-color: #222222;
  width: 590px;
  height: 300px;
  margin: 20px;
  line-height: 75px;
  font-size: 30px;
}
.mainFTO > div:hover {
  background-color: rgba(0, 0, 0, 0.372);
  color: azure;
}
.PP {
  position: relative;
  background-image: url("PremiumPass2.png");
}

/* .PP > h1 {
  margin-left: -70%;
  margin-top: 25%;
}
.PP > p {
  margin-left: -80%;
  margin-top: -8%;
} */
.PPH {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -42.48%;
  background-color: rgba(0, 0, 0, 0);
}
button {
  color: azure;
  background-color: rgb(255, 77, 0);
  margin-top: 43%;
  margin-left: 5%;
  width: 30%;
  height: 10%;
}
.L {
  background-image: url("license2.png");
}
.LH {
  position: absolute;
  width: 46%;
  height: 50%;
  margin-top: -20%;
  background-color: rgba(0, 0, 0, 0);
}
.EP {
  background-image: url("ExtendedPass.png");
}
.EPH {
  position: absolute;
  width: 46%;
  height: 50%;
  margin-top: -20%;
  background-color: rgba(0, 0, 0, 0);
}
.EPBC {
  /* background-color: rgba(0, 0, 0, 0.653); */
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: -43%;
}
.EPBC:hover > h2 {
  color: azure;
}

/*************       Offers      **************/

.OperationOffers {
  background-image: url("Operation.jpg");
  background-color: #313131;
  width: 1180px;
  height: 300;
  margin: 20px;
}
.OperationOffers:hover {
  background-color: azure;
}
.item1 {
  background-image: url("item1.png");
}
.item2 {
  background-image: url("item2.png");
}
.item3 {
  background-image: url("item5.png");
}
.item4 {
  background-image: url("item6.png");
}
.item5 {
  background-image: url("item7.png");
}

/******************     Tanks      ********************/
.tank1 {
  background-image: url("Watchful\ patrul.png");
}
.tank2 {
  background-image: url("T22uncathable.png");
}
.tank3 {
  background-image: url("Object\ 252U\ vigilant.png");
}
.tank4 {
  background-image: url("Type57mecha.png");
}

/********************     Gold      ********************/

.Riches {
  display: flex;
  flex-wrap: wrap;
  color: azure;
}
.Riches > div {
  background-color: #313131;
  width: 275px;
  height: 250px;
  margin: 20px;
  background-size: cover;
}
.Riches > div:hover {
  background-color: rgb(28, 28, 28);
}
.RichesH {
  position: absolute;
  width: 21.5%;
  height: 45%;
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0);
}
.RichesH > button {
  margin-top: 20%;
}

.G250 {
  background-image: url("250.png");
}
.G1500 {
  background-image: url("1500.png");
}
.G3250 {
  background-image: url("3250.png");
}
.G8500 {
  background-image: url("8500.png");
}
.G17500 {
  background-image: url("17500.png");
}
.G27000 {
  background-image: url("27000.png");
}
.G37500 {
  background-image: url("37500.png");
}
